In [3]:
'''Create a Polars DataFrame from a dictionary containing the following data:
Name: ["Alice", "Bob", "Charlie"]
Age: [25, 30, 35]
City: ["New York", "Los Angeles", "Chicago"]
Print the DataFrame'''
import polars as pl

dic={"Name": ["Alice", "Bob", "Charlie"]
     ,"Age": [25, 30, 35]
     ,"City": ["New York", "Los Angeles", "Chicago"]}

df=pl.DataFrame(dic)

print(type(df))

<class 'polars.dataframe.frame.DataFrame'>

In [10]:
'''Add a new column Salary 
to the DataFrame from Exercise 1, with the values [50000, 60000, 70000].'''

salary=[50000, 60000, 70000]

df=df.with_columns(pl.Series(salary).alias("Salary"))

#df.head()

avg_salary=0
avg_salary=df["Salary"].mean()
print(avg_salary)

60000.0

In [12]:
'''Exercise 3: Filtering Data
Filter the DataFrame to show only rows where Age is greater than 28.
Print the filtered DataFrame.
'''

df_filtered=df.filter(df["Age"]>28)
df_filtered.head()

shape: (2, 4)
┌─────────┬─────┬─────────────┬────────┐
│ Name    ┆ Age ┆ City        ┆ Salary │
│ ---     ┆ --- ┆ ---         ┆ ---    │
│ str     ┆ i64 ┆ str         ┆ i64    │
╞═════════╪═════╪═════════════╪════════╡
│ Bob     ┆ 30  ┆ Los Angeles ┆ 60000  │
│ Charlie ┆ 35  ┆ Chicago     ┆ 70000  │
└─────────┴─────┴─────────────┴────────┘

In [15]:
'''Exercise 4: Grouping and Aggregation
Create a new DataFrame with the following data:
Department: ["HR", "Finance", "HR", "IT"]
Employee: ["Alice", "Bob", "Charlie", "David"]
Salary: [50000, 60000, 55000, 70000]
Group the DataFrame by Department and calculate the average Salary for each department.
Print the resulting DataFrame.'''


dic2={"Department": ["HR", "Finance", "HR", "IT"]
     ,"Employee": ["Alice", "Bob", "Charlie", "David"]
     ,"Salary": [50000, 60000, 55000, 70000]}

df2=pl.DataFrame(dic2)

df2_mean=df2.group_by("Department").agg(pl.mean("Salary").alias("avg_salary"))

df2_mean.head()

shape: (3, 2)
┌────────────┬────────────┐
│ Department ┆ avg_salary │
│ ---        ┆ ---        │
│ str        ┆ f64        │
╞════════════╪════════════╡
│ HR         ┆ 52500.0    │
│ IT         ┆ 70000.0    │
│ Finance    ┆ 60000.0    │
└────────────┴────────────┘

In [19]:
'''Exercise 5: Joining DataFrames
Create two DataFrames:
df1: with columns ID and Name:
ID: [1, 2, 3]
Name: ["Alice", "Bob", "Charlie"]
df2: with columns ID and Salary:
ID: [1, 2, 4]
Salary: [50000, 60000, 80000]
Perform a left join on the ID column and print the resulting DataFrame'''




df1=pl.DataFrame({"ID": [1, 2, 3]
                ,"Name": ["Alice", "Bob", "Charlie"]
                })

df2=pl.DataFrame({"ID": [1, 2, 4]
                ,"Salary": [50000, 60000, 80000]
                })

df_join=df1.join(df2, on="ID", how="left")
df_join.head()

shape: (3, 3)
┌─────┬─────────┬────────┐
│ ID  ┆ Name    ┆ Salary │
│ --- ┆ ---     ┆ ---    │
│ i64 ┆ str     ┆ i64    │
╞═════╪═════════╪════════╡
│ 1   ┆ Alice   ┆ 50000  │
│ 2   ┆ Bob     ┆ 60000  │
│ 3   ┆ Charlie ┆ null   │
└─────┴─────────┴────────┘

In [20]:
'''Exercise 6: Handling Missing Data
Create a DataFrame with some missing values:
Name: ["Alice", None, "Charlie"]
Age: [25, 30, None]
Fill the missing values in Name with "Unknown" and in Age with the average age.
Print the updated DataFrame.'''


df3=pl.DataFrame({"Name": ["Alice", None, "Charlie"]
                ,"Age": [25, 30, None]
                })

df3.head()

shape: (3, 2)
┌─────────┬──────┐
│ Name    ┆ Age  │
│ ---     ┆ ---  │
│ str     ┆ i64  │
╞═════════╪══════╡
│ Alice   ┆ 25   │
│ null    ┆ 30   │
│ Charlie ┆ null │
└─────────┴──────┘